/* App.css */

body {
  background-color: #f7f9fc;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  max-width: 80vh;
  padding: 20px;
  margin:auto;
}

.inner-box {
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

select, button {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
}
ul li {
  background-color: #e0f7fa; /* Light blue background */
  color: #00695c;            /* Dark teal text */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-weight: 500;
}

/* Add this to your CSS */
.selected {
  background-color: #e0e0e0;
  font-weight: bold;
}

.project-detail {
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.project-detail h3 {
  margin-bottom: 15px;
}

.project-detail p {
  margin: 10px 0;
}

.project-detail button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.project-detail button:hover {
  background-color: #0056b3;
}
